<div class="list-wrapper">
    <div class="list-header">
      <h1>Lista de Evaluaciones</h1>
      <p>Cantidad de registros: {{ evaluacionDataSource.data.length }}</p>
      <mat-form-field class="filter-field" appearance="outline">
        <mat-label>Filtrar por Resultado</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar" />
      </mat-form-field>
    </div>
  
    <div class="card-container">
      <mat-card
        *ngFor="let evaluacion of paginatedEvaluaciones"
        class="styled-card"
        appearance="outlined"
      >
        <mat-card-header>
          <mat-card-title>Evaluación ID: {{ evaluacion.idEvaluacion }}</mat-card-title>
          <mat-card-subtitle>{{ evaluacion.fechaEvaluacion | date }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Resultado:</strong> {{ evaluacion.resultadoEvaluacion }}</p>
          <p><strong>Comentarios:</strong> {{ evaluacion.comentariosEvaluacion }}</p>
          <p><strong>Terreno:</strong> {{ evaluacion.descripcionTerreno }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button color="warn" (click)="deleteEvaluacion(evaluacion.idEvaluacion)">
            <mat-icon>delete</mat-icon>
          </button>
          <button
            mat-raised-button
            color="primary"
            [routerLink]="['/evaluaciones/editar', evaluacion.idEvaluacion]"
          >
            <mat-icon>edit</mat-icon> Editar
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  
    <!-- Mensaje de "No hay coincidencias" -->
    <div *ngIf="evaluacionDataSource.filteredData.length === 0" class="no-data-message">
      No hay coincidencias.
    </div>
  
    <!-- Paginador -->
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      [length]="evaluacionDataSource.filteredData.length"
      [pageSize]="pageSize"
      (page)="onPageChange($event)"
    ></mat-paginator>
  </div>
  