<div class="home-wrapper">
    <div class="main-content">
      <div class="welcome-section">
        <h1>BIENVENIDOS !</h1>
        <p>
          Somos TerraPlan, una startup nacida de la pasión y el ingenio de jóvenes visionarios de la
          Universidad Peruana de Ciencias Aplicadas. Transformamos el mundo de la construcción combinando la tecnología más avanzada con el poder de la inteligencia artificial.
        </p>
        <p>
          Nuestro objetivo es uno: hacer realidad los sueños de nuestros clientes, simplificando cada paso del proceso de diseño y evaluación de terrenos. ¡Con TerraPlan, la construcción inteligente ya no es el futuro, es el presente!
          Únete a la revolución y construye el hogar de tus sueños con nosotros.
        </p>
      </div>
  
      <div class="dual-section">
        <div class="build-now">
          <h2>Constrúyelo ahora</h2>
          <p>Haz realidad el sueño de la casa propia</p>
          <div class="image-gallery">
            <div class="image-item"></div>
            <div class="image-item"></div>
            <div class="image-item"></div>
            <div class="image-item"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  