<div class="container">
  <h1>{{ isEditMode ? 'Editar Prototipo' : 'Registrar Prototipo' }}</h1>
  <form [formGroup]="prototipoForm" (ngSubmit)="savePrototipo()">
      <!-- Campo ID Prototipo (solo visible en edición) -->
      <mat-form-field class="filter-field" *ngIf="isEditMode" appearance="outline">
          <mat-label>ID de Prototipo</mat-label>
          <input matInput formControlName="idPrototipo" />
      </mat-form-field>

      <!-- Campo Tipo de Prototipo -->
      <mat-form-field class="filter-field" appearance="outline">
          <mat-label>Tipo de Estructura</mat-label>
          <input matInput formControlName="tipoEstructuraPrototipo" required />
          <mat-error *ngIf="prototipoForm.get('tipoEstructuraPrototipo')?.invalid">
              El tipo de estructura es obligatorio.
          </mat-error>
      </mat-form-field>

      <!-- Campo Descripción del Prototipo -->
      <mat-form-field class="filter-field" appearance="outline">
          <mat-label>Descripción</mat-label>
          <textarea matInput formControlName="descripcionPrototipo" rows="3" required></textarea>
          <mat-error *ngIf="prototipoForm.get('descripcionPrototipo')?.invalid">
              La descripción es obligatoria.
          </mat-error>
      </mat-form-field>

      <!-- Campo Fecha del Prototipo -->
      <mat-form-field class="filter-field" appearance="outline">
          <mat-label>Fecha de Creación</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fechaCreacionPrototipo" required />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker touchUi="true" [startAt]="startDate"></mat-datepicker>
          <mat-error *ngIf="prototipoForm.get('fechaCreacionPrototipo')?.invalid">
              Seleccione una fecha válida.
          </mat-error>
      </mat-form-field>

      <!-- Campo Plano -->
      <mat-form-field class="filter-field" appearance="outline">
          <mat-label>Plano</mat-label>
          <mat-select formControlName="idPlano" required>
              <mat-option *ngFor="let plano of planosDisponibles" [value]="plano.idPlano">
                  {{ plano.descripcionPlano }}
              </mat-option>
          </mat-select>
          <mat-error *ngIf="prototipoForm.get('idPlano')?.invalid">
              Seleccione un plano.
          </mat-error>
      </mat-form-field>

      <!-- Botones -->
      <div class="button-container">
          <button mat-flat-button color="primary" type="submit">
              {{ isEditMode ? 'Guardar Cambios' : 'Registrar' }}
          </button>
          <button mat-button type="button" (click)="navigateToPrototipos()">Cancelar</button>
      </div>
  </form>
</div>
