<nav class="navbar" *ngIf="showNavbar">
    <div class="navbar-brand">Terraplan</div>
    <div class="navbar-links">
        <!-- Users Dropdown -->
        <div class="dropdown">
            <a (click)="toggleUserMenu()">Users</a>
            <div *ngIf="showUserMenu" class="dropdown-menu">
                <a href="/usuarios">Listar</a>
                <a href="/usuarios/crear">Crear</a>
            </div>
        </div>

        <!-- Roles Dropdown -->
        <div class="dropdown">
            <a (click)="toggleRoleMenu()">Roles</a>
            <div *ngIf="showRoleMenu" class="dropdown-menu">
                <a href="/rol">Listar</a>
                <a href="/rol/crear">Crear</a>
            </div>
        </div>

        <!-- Proyectos Dropdown -->
        <div class="dropdown">
            <a (click)="toggleProyectoMenu()">Proyectos</a>
            <div *ngIf="showProyectoMenu" class="dropdown-menu">
                <a href="/proyectos">Listar</a>
                <a href="/proyectos/crear">Crear</a>
            </div>
        </div>

        <!-- Planos Dropdown -->
        <div class="dropdown">
            <a (click)="togglePlanoMenu()">Planos</a>
            <div *ngIf="showPlanoMenu" class="dropdown-menu">
                <a href="/planos">Listar</a>
                <a href="/planos/crear">Crear</a>
            </div>
        </div>
        <div class="dropdown">
            <a (click)="toggleMaterialMenu()">Material</a>
            <div *ngIf="showMaterialMenu" class="dropdown-menu">
                <a href="/materiales">Listar</a>
                <a href="/materiales/crear">Crear</a>
            </div>
        </div>
        <div class="dropdown">
            <a (click)="togglePermisoMenu()">Permisos</a>
            <div *ngIf="showPermisoMenu" class="dropdown-menu">
                <a href="/permisos">Listar</a>
                <a href="/permisos/crear">Crear</a>
            </div>
        </div>
        <div class="dropdown">
            <a (click)="toggleNotificacionMenu()">Notificaciones</a>
            <div *ngIf="showNotificacionMenu" class="dropdown-menu">
                <a href="/notificaciones">Listar</a>
                <a href="/notificaciones/crear">Crear</a>
            </div>
        </div>
        <div class="dropdown">
            <a (click)="toggleEvaluacionesMenu()">Evaluaciones</a>
            <div *ngIf="showEvaluacionesoMenu" class="dropdown-menu">
                <a href="/evaluaciones">Listar</a>
                <a href="/evaluaciones/crear">Crear</a>
            </div>
        </div>
        <div class="dropdown">
            <a (click)="togglePrototipoMenu()">Prototipos</a>
            <div *ngIf="showPrototiposMenu" class="dropdown-menu">
                <a href="/prototipos">Listar</a>
                <a href="/prototipos/crear">Crear</a>
            </div>
        </div>
    </div>
    <button class="logout-button" (click)="onLogout()">Salir</button>
</nav>

<router-outlet></router-outlet>
