<div class="form-container">
    <h2 class="form-title">{{ isEditMode ? 'Editar Usuario' : 'Crear Usuario' }}</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        
        <!-- ID del Usuario - Solo visible en modo de edición, no editable -->
        <mat-form-field *ngIf="isEditMode" appearance="fill">
            <mat-label>ID del Usuario</mat-label>
            <input matInput [value]="userId" readonly disabled>
        </mat-form-field>

        <!-- Nombre Completo del Usuario -->
        <mat-form-field appearance="fill">
            <mat-label>Nombre Completo</mat-label>
            <input matInput formControlName="nombreCompleto" placeholder="Ingrese el nombre completo">
            <mat-error *ngIf="form.get('nombreCompleto')?.invalid && form.get('nombreCompleto')?.touched">
                El nombre completo es requerido.
            </mat-error>
        </mat-form-field>

        <!-- Contraseña -->
        <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" formControlName="contrasenia" placeholder="Ingrese la contraseña">
            <mat-error *ngIf="form.get('contrasenia')?.invalid && form.get('contrasenia')?.touched">
                La contraseña es requerida.
            </mat-error>
        </mat-form-field>

        <!-- Checkbox para Habilitar Usuario -->
        <div class="checkbox-container">
            <label>
                <input type="checkbox" formControlName="enabled"> Habilitado
            </label>
        </div>

        <!-- Botón de Envío -->
        <button mat-raised-button type="submit">{{ isEditMode ? 'Actualizar Usuario' : 'Crear Usuario' }}</button>
    </form>
</div>
