<div class="container">
    <h1>{{ isEditMode ? 'Editar Evaluación' : 'Registrar Evaluación' }}</h1>
    <form [formGroup]="evaluationForm" (ngSubmit)="saveEvaluation()">
      <!-- Campo ID Evaluación (solo visible en edición) -->
      <mat-form-field class="filter-field" *ngIf="isEditMode" appearance="outline">
        <mat-label>ID de Evaluación</mat-label>
        <input matInput formControlName="idEvaluacion" />
      </mat-form-field>
  
      <!-- Campo Fecha de Evaluación -->
      <mat-form-field class="filter-field" appearance="outline">
        <mat-label>Fecha de Evaluación</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fechaEvaluacion" required />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker touchUi="true" [startAt]="startDate"></mat-datepicker>
        <mat-error *ngIf="evaluationForm.get('fechaEvaluacion')?.invalid">
          Seleccione una fecha válida.
        </mat-error>
      </mat-form-field>
  
      <!-- Campo Resultado -->
      <mat-form-field class="filter-field" appearance="outline">
        <mat-label>Resultado</mat-label>
        <input matInput formControlName="resultadoEvaluacion" required />
        <mat-error *ngIf="evaluationForm.get('resultadoEvaluacion')?.invalid">
          El resultado es obligatorio.
        </mat-error>
      </mat-form-field>
  
      <!-- Campo Comentarios -->
      <mat-form-field class="filter-field" appearance="outline">
        <mat-label>Comentarios</mat-label>
        <textarea matInput formControlName="comentariosEvaluacion" rows="3" required></textarea>
        <mat-error *ngIf="evaluationForm.get('comentariosEvaluacion')?.invalid">
          Los comentarios son obligatorios.
        </mat-error>
      </mat-form-field>
  
      <!-- Campo Terreno -->
      <mat-form-field class="filter-field" appearance="outline">
        <mat-label>Terreno</mat-label>
        <mat-select formControlName="idTerreno" required>
          <mat-option *ngFor="let terreno of terrenosDisponibles" [value]="terreno.idTerreno">
            {{ terreno.descripcionTerreno }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="evaluationForm.get('idTerreno')?.invalid">
          Seleccione un terreno.
        </mat-error>
      </mat-form-field>
  
      <!-- Botones -->
      <div class="button-container">
        <button mat-flat-button color="primary" type="submit">
          {{ isEditMode ? 'Guardar Cambios' : 'Registrar' }}
        </button>
        <button mat-button type="button" (click)="navigateToEvaluations()">Cancelar</button>
      </div>
    </form>
  </div>
  