<div>
    <div style="text-align: center;">
      <h1>Proyectos por Estado</h1>
    </div>
    
    <!-- Formulario reactivo -->
    <div style="text-align: center;">
      <mat-form-field>
        <mat-label>Seleccionar Estado</mat-label>
        <mat-select formControlName="selectedEstado">
            @for (m of listaEstados; track m){
                <mat-option [value]="m.value">
                    {{ m.viewValue }}
                  </mat-option>
            }
        </mat-select>
      </mat-form-field>
    </div>
    
   <!-- Tabla para mostrar los proyectos -->
<table mat-table [dataSource]="proyectos" class="mat-elevation-z8">
  <!-- Columna ID -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID del usuario </th>
    <td mat-cell *matCellDef="let proyecto"> {{ proyecto.idUsuario }} </td>
  </ng-container>

  <!-- Columna Nombre -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre del usuario </th>
    <td mat-cell *matCellDef="let proyecto"> {{ proyecto.nombre }} </td>
  </ng-container>

  <!-- Columna Descripción -->
  <ng-container matColumnDef="descripcion">
    <th mat-header-cell *matHeaderCellDef> Proyecto </th>
    <td mat-cell *matCellDef="let proyecto"> {{ proyecto.proyecto }} </td>
  </ng-container>

  <!-- Columna Estado -->
  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let proyecto"> {{ proyecto.estado }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  