<div class="form-container">
        <h2 class="form-title">{{ isEditMode ? 'Editar Plano' : 'Crear Plano' }}</h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            
            <!-- ID del Plano - Solo visible en modo de edición y de solo lectura -->
            <mat-form-field *ngIf="isEditMode" appearance="fill">
                <mat-label>ID del Plano</mat-label>
                <input matInput formControlName="idPlano" readonly>
            </mat-form-field>
            
            <!-- Tipo de Plano -->
            <mat-form-field appearance="fill">
                <mat-label>Tipo de Plano</mat-label>
                <input matInput formControlName="tipoPlano" placeholder="Ingrese el tipo de plano">
                <mat-error *ngIf="form.get('tipoPlano')?.invalid && form.get('tipoPlano')?.touched">
                    El tipo de plano es requerido.
                </mat-error>
            </mat-form-field>
    
            <!-- Descripción del Plano -->
            <mat-form-field appearance="fill">
                <mat-label>Descripción del Plano</mat-label>
                <input matInput formControlName="descripcionPlano" placeholder="Ingrese la descripción del plano">
            </mat-form-field>
    
            <!-- Fecha del Plano -->
            <mat-form-field appearance="fill">
                <mat-label>Fecha del Plano</mat-label>
                <input matInput formControlName="fechaPlano" [matDatepicker]="picker" placeholder="Seleccione la fecha">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
    
            <!-- Terreno Asociado dropdown -->
            <mat-form-field appearance="fill">
                <mat-label>Terreno Asociado</mat-label>
                <mat-select formControlName="terreno">
                    <mat-option *ngFor="let terreno of terrenos" [value]="terreno.idTerreno">
                        {{ terreno.descripcionTerreno }} <!-- Updated to use descripcionTerreno -->
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('terreno')?.invalid && form.get('terreno')?.touched">
                    El terreno es requerido.
                </mat-error>
            </mat-form-field>
    
            <button mat-raised-button type="submit">{{ isEditMode ? 'Actualizar Plano' : 'Crear Plano' }}</button>
        </form>
    </div>